body{

    font-family: 'Gochi Hand', cursive;
}
h1{
        font-size:50px;
}
    
span{
    color:yellowgreen;        
}
section{
    display: flex;
}
.half{
    width:50%;
    padding-left:10%;
}
.half img{
    width:100%;
}
.button{
    text-decoration: none;
    background-image:linear-gradient(yellow,green);
    padding:10px 20px;
    border-radius: 10px;
    color: papayawhip;
    font-size: xx-large;
    

}
.dream{
    display: flex;
}
.half2{
    width:50%;
    margin-top:100px;
    margin-bottom:100px;
}
.half2 img{
        width:70%;
    }
    .half3{
        width:50%;
        padding:20px 50px;
        box-shadow: 10px 10px 40px yellowgreen;
        margin-left:30px;
        margin-right:30px;
    }
.orange{
    color:yellowgreen;
}
footer p{
    text-align: center;
}
#border-dibo{
    border-left: 7px solid;
    border-image:linear-gradient(black ,yellow);
    border-image-slice: 1;
}
#border-colour{
    border-left: 7px solid;
    border-image:linear-gradient(yellow , black);
    border-image-slice: 1;
